@import '../main.scss';




.sidebar___about {
  background-color: $color-accent-1;


  }

 



.activeLink:visited,
.activeLink:link {
  border-bottom: 5px solid $color-accent-1;  
}

.activeLink:hover {
  background-color: $color-grey-light;
  color: $color-grey-dark-2;
  cursor: default;
}