@import '../main.scss';

//////////
//MENU BTN
//////////

.icon {
  visibility: hidden; // default is large screen so hide

  width: 5rem;
  height: 5rem;
  background-color: transparent;
  position: absolute;
  top: 3rem;
  right: 4.5rem;
  border: none;
  z-index: 1000;


  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .2s, visibility 0;

  @media only screen and (max-width: $bp-medium) { // show menu for small screen
    visibility: visible;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

}

///////////
//HAMBURGER DIVs
//////////////

.hamburger {
  position: absolute;
  height: 3px;
  width: 4rem;
  background-color: $color-grey-dark-2;
  border-radius: 1px;

  transition: transform .4s ease-out;

  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 4rem;
    height: 3px;
    background-color: inherit;
  }

  &::before {
    transform: translateY(-1.2rem);
  }

  &::after {
    transform: translateY(1.2rem);
  }
}

//////////////
//MODAL////////
//////////////

.nav {
  transition: all .4s;
  background-color: $color-grey-dark-2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  // unclicked state
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;   // opacity added to create smooth transition 
}

.ul {
  list-style: none;
  display: flex;
  height: 100vh;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  transform: translateY(-10%);

}

.li {
  padding: 3rem;
}


.a:link,
.a:visited {
  color: $color-grey-light;
  text-decoration: none;
  font-size: 4rem;
  transition: all .2s;
  padding: 1rem;

}

.a:focus {
  outline-color: $color-grey-light;
}

.a:hover {
  background-color: $color-grey-light;
  color: $color-grey-dark-2;
}

.a:active {
  background-color: darken($color-grey-light, 15%);
}

//////////////////
//MODAL OPEN STATE//
//////////////////
.menuOpen {

  & .nav {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  & .icon {
    position: fixed;

    &:focus {
      background-color: $color-grey-dark-2;
    }
  }

  & .hamburger {
    transform: rotate(225deg);
    background-color: orangered;

    &::after {
      transform: translateY(0) rotate(90deg);
    }

    &::before {
      display: none;
    }
  }

}






