@import '../main.scss';

.icon {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  position: fixed;
  top: 3rem;
  right: 4.5rem;
  border: none;
  z-index: 1000;
  
  
  display:none;

  transition: all .2s;

  &:focus {
    outline: none;
    background-color: $color-grey-dark-2;
  }

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }
 
}

.hamburger {
  position: absolute;
  height: 3px;
  width: 4rem;
  background-color: $color-grey-light;
  border-radius: 1px;


  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 4rem;
    height: 3px;
    background-color: inherit;
  }

  &::before{
    transform: translateY(-1.2rem);
  }

  &::after{
    transform: translateY(1.2rem);
  }
}

