@import '../main.scss';

.sidebar___projects {
  background-color: $color-accent-2;
}

.navLink:focus {
  outline-color: $color-accent-2;
}

.activeLink:visited,
.activeLink:link {
  border-bottom: 5px solid $color-accent-2;  
}

.gridContainer {
  
}

