

*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  position: relative;
}

body {
  font-family: $font-primary;
  font-size: 2rem;
  letter-spacing: 1.4px;
  background-color: $color-background;

}

.gridContainer {
  display: grid;
  grid-template-columns: 15rem 1fr;
}


.sidebar {
  grid-column: 1 / 2;

  width: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

}

header {
  grid-column: 2 / 3;
}

.layoutContainer {
  grid-column: 2 / 3;
  align-items: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;


}

main {
  margin: 4rem 0;
  flex-grow: 1;
}

h2 {
  text-align: center;
  color: $color-grey-dark-2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}

footer {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem 0;

   .hideaki_link:visited,
   .hideaki_link:link {
    color: $color-grey-dark-2;
    text-decoration: none;
    padding: 2px 4px;
    transition: all .2s;
  }

  .hideaki_link:focus,
  .hideaki_link:hover {
    background-color: $color-grey-dark-2;
    color: $color-grey-light;
    outline: none;
  }
  
  .hideaki_link:active {
    background-color: lighten($color-grey-dark-2, 15%);
  }

}

