

*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 2rem;
  letter-spacing: 1.4px;
  background-color: $color-grey-light;
}



footer {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 4rem;
}