// Font

$font-primary: 'Bebas Neue';
$font-header: 'Lobster';

// Color

$color-grey-light: #f3f3f3;

$color-grey-dark-1: #444;
$color-grey-dark-2: #333;


// break points
$bp-largest: 75em; // 1200px center header in home
$bp-large: 50em; // 800px when background image of home page breaks
$bp-medium: 37.5em; // phone size
$bp-small: 25em; // small phone